@import "tailwindcss";
@import "react-datepicker/dist/react-datepicker.css";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

@theme {
  --color-primary-hover: #8c0015;
  --color-primary: #a9031c;
  --color-old-paper: #f6eee3;
}

@layer utilities {

  .caret-up { display: none; }

  .manage-room:has([popover]:popover-open) .caret-down {
    display: none;
  }

  .manage-room:has([popover]:popover-open) .caret-up {
    display: inline;
  }

  /* base room */
  g[id^="room-"] {
    @apply cursor-pointer;
  }

  /* DEFAULT */
  g[id^="room-"] rect[id^="bg"] {
    @apply fill-white;
  }

  g[id^="room-"] path[id^="label"] {
    @apply fill-gray-800;
  }

  /* ACTIVE */
  g[id^="room-"].active rect[id^="bg"] {
    @apply fill-blue-700;
  }

  g[id^="room-"].active path[id^="label"] {
    @apply fill-white;
  }

  /* BOOKED */
  g[id^="room-"].booked {
    @apply pointer-events-none cursor-not-allowed;
  }

  g[id^="room-"].booked rect[id^="bg"] {
    @apply fill-primary;
  }

  g[id^="room-"].booked path[id^="label"] {
    @apply fill-gray-100;
  }

  /* @keyframes filterPulse {
    0%, 100% { 
      stroke-opacity: 1;
      stroke-width: 2;
    }
    50% { 
      stroke-opacity: 0.2;
      stroke-width: 4;
    }
  } */

/* g[id^="room-"].filtered rect[id^="bg"] {
  stroke: #155dfc;
  animation: filterPulse 1.5s ease-in-out infinite;
} */

  g[id^="room-"].filtered path[id^="label"] {
    @apply fill-black;
  }

    g[id^="room-"].dimmed {
    @apply pointer-events-none cursor-not-allowed;
  }

  g[id^="room-"].dimmed rect[id^="bg"] {
    @apply fill-gray-400;
  }

  g[id^="room-"].dimmed path[id^="label"] {
    @apply fill-gray-300;
  }

  @layer base {
  .swiper-button-next,
  .swiper-button-prev {
    color: white;
  }
}
}