@import "tailwindcss";

@theme {
  --color-primary-hover: #8c0015;
  --color-primary: #a9031c;
  --color-old-paper: #f6eee3;
}

@layer utilities {

  .caret-up { display: none; }

  .manage-room:has([popover]:popover-open) .caret-down {
    display: none;
  }

  .manage-room:has([popover]:popover-open) .caret-up {
    display: inline;
  }
}